.checkbox-style {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    pointer-events: none;
}
.checkbox-label {
    cursor: pointer;
    line-height: 1.4;
}
.checkbox-style input {
    display: none;
}
.checkbox-box {
    --size: 20px;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    color: transparent;
    transition: all 0.2s linear;
}
.checkbox-input-checked + .checkbox-box {
    background-color: #6a5af9;
    border-color: #6a5af9;
    color: white;
}
