$font-primary: "Poppins", sans-serif;

// font size
$text-sm: 12px;
$text-base: 16px;
$text-xl: 25px;
$text-xxl: 35px;
// breakpoints
$breakpoints-lg: 1024px;

// color
$primary-color: #f0f5fb;
$secon-color: #6a5af9;
$thre-color: #1d3597a0;
$four-color: #091841;

$error-color: #ef5350;
$error-opacity: #f9b9bd;

$success-color: #19e08d;
$success-opcity: #d1f0e5;

$bg-primary: #fff;
$bg-secon: #f0f5fb;
$bg-graye2: #e2e8f0;

$text-color: #313131;
